
 <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Events</h2>
          <h3 class="section-subheading text-muted">Here is a list of EventHop sponsored events.</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="public/img/portfolio/event-01.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Early Bird</h4>
            <p class="text-muted">Coffee | Trail Walk | Brunch</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="public/img/portfolio/event-02.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Afternoon Delight</h4>
            <p class="text-muted">Lunch | Southpoint | Espresso</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="public/img/portfolio/event-03.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Nightlife Cabaret</h4>
            <p class="text-muted">Aperitif | Dinner | Lounge</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="public/img/portfolio/event-04.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Durham Bulls Baseball</h4>
            <p class="text-muted">Sightseeing | Baseball | Nightcap</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="public/img/portfolio/event-05.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>DPAC</h4>
            <p class="text-muted">Cocktails | Show | Tapas</p>
          </div>
        </div>
</section>
<!-- User Created Route/Group Route -->
<section id="userCreate" class="section parallax bg1">
  <div class="col-lg-12 text-center">
    <h2 class="paraText text-uppercase">Or...</h2><br>
    <a id="create-group-button" data-toggle="modal" href="#create-group-modal">
      <h2 class="paraText text-uppercase" id="paraBtn">Create Your Own Event!</h2>
    </a>
    <br><br><h3 class="paraText section-subheading">You can even invite others to join!</h3>
  </div>
</section>