<li class="nav-item def-nav">
  <a class="nav-link" data-toggle="modal" href="#loginModal">Login</a>
</li>
<li class="nav-item def-nav">
  <a class="nav-link" data-toggle="modal" href="#registerModal">Register</a>
</li>