<div class="portfolio-modal modal fade" id="show-group-route-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content route-container">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="groupMapDiv">
                <!-- group route map will be generated here -->
            </div>
        </div>
    </div>
</div>