<div class="portfolio-modal modal fade" id="show-route-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" id="mapReset">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <h1>Here's Your Route!</h1>
            <div id="routemap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <div class="container">
                                <div class="row mbr">
                                    <h2 class="text-uppercase" id="create-group-title"></h2>
                                </div>
                                <!-- Project Details Go Here -->
                                <div class="row mbr">
                                    <div class="col-6">
                                        <button class="btn btn-primary pull-left" id="create_title_button">Preview Title </button>
                                        <input type="text" id="group_title_input" value="Group Name">
                                    </div>
                                </div>
                                <button class="btn btn-primary" id="createGroup" type="button">
                                    <i class="fa"></i>
                                    Create Your Group!</button>
                            </div>
                            <div id="route-place-list" class="container py-3">

                            </div>
                            <div id="routePlacesInfo"></div>
                            <div id="directionsPanel"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
