<div class="portfolio-modal modal fade" id="show-route-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" id="mapReset">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
         {{>route-map}}
        </div>
    </div>
</div>

