<!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Early Bird</h2>
                <p class="item-intro text-muted">Rise and Grind!</p>
                <img class="img-fluid d-block mx-auto" src="public/img/portfolio/event-01m.jpg" alt="">
                <p>If you want to have a relaxing Sunday morning, this is the event for you, so <span class="red">Rise and Shine!</span> our first stop for this event will be at <span class="red">9:30</span> in the morning.  The first stop will be Saladelia Cafe where you can sit back, enjoy a cup of coffee, and talk about that book you're getting really into. After 45 minutes of down time, we will head over to the American Tobacco Campus at <span class="red">10:15</span>.  This is the perfect opportunity to take a stroll around beautiful downtown durham and explore all of the shops and businesses in the strip.  After working up an appetite the group will head to the last stop of the day at <span class="red">11:00.</span>  Bull City Burger is the perfect brunch location to end a relaxing sunday morning!

                <ul class="list-inline">
                  <li>Date: Every Sunday morning through summer 2018</li>
                  <li>Coffee Shops: <span class="red">Saladelia Cafe</span></li>
                  <li>Explore the Scene: <span class="red">American Tobacco Campus</span></li>
                  <li>Brunch: <span class="red">Bull City Burger</span></li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Afternoon Delight</h2>
                <p class="item-intro text-muted">Let's go shopping!</p>
                <img class="img-fluid d-block mx-auto" src="public/img/portfolio/event-02m.jpg" alt="">
                <p>This event involves a </p>
      
                <ul class="list-inline">
                  <li>Date: Every Saturday afternoon through summer 2018</li>
                  <li>Lunch: <span class="red">Firebirds</span></li>
                  <li>Read and Discuss: <span class="red">Barnes and Noble</span></li>
                  <li>Expresso: <span class="red">Starbucks</span></li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Nightlife Cabaret</h2>
                <p class="item-intro text-muted">Finally the Weekend!</p>
                <img class="img-fluid d-block mx-auto" src="public/img/portfolio/event-03m.jpg" alt="">
                <p>Need to update. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>


                <ul class="list-inline">
                  <li>Category: Nighttime Fun</li>
                  <li>Date: Every Friday and Saturday night through summer 2018</li>
                  <li>Aperitif: Alley Twenty Six, Bar Virgile, or Tyler's Taproom</li>
                  <li>Dinner: Mothers and Sons, Nanasteak, Luna</li>
                  <li>Lounge: The Durham Hotel, Winebar, or Pinhook</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Durham Bulls Baseball</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="public/img/portfolio/event-04m.jpg" alt="">
                <p>Need to update. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Category: Filler</li>
                  <li>Date: Every Saturday afternoon through summer 2018</li>
                  <li>Lunch: Maggianos, Cheesecake Factory, or Firebirds</li>
                  <li>Southpoint: Southpoint Cinemas or Afternoon Shopping</li>
                  <li>Expresso: Ebar, Starbucks, or Dulce Cafe & Gelato</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">DPAC</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-fluid d-block mx-auto" src="public/img/portfolio/event-05m.jpg" alt="">
                <p>Need to update. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Category: Filler</li>
                  <li>Date: Every Saturday afternoon through summer 2018</li>
                  <li>Lunch: Maggianos, Cheesecake Factory, or Firebirds</li>
                  <li>Southpoint: Southpoint Cinemas or Afternoon Shopping</li>
                  <li>Expresso: Ebar, Starbucks, or Dulce Cafe & Gelato</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fa fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>