<li class="nav-item user-nav">
  <a class="nav-link js-scroll-trigger" href="#userGroups">Groups</a>
</li>
<li class="nav-item user-nav">
  <a class="nav-link" id="logout-button" >Logout</a>
</li>
<script>
$('#logout-button').on("click", () => {
localStorage.setItem('EHUserToken','');
window.location.href = 'http://eventhop.herokuapp.com/';
});