<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Snacks and Spirits Planning Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- BS4 -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--custom stylez baybee-->
</head>

<body>
{{{body}}}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"></script>
<!--plotly-->
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<!--jsPDF-->
<script src="assets/js/dataHelpers.js"></script>
<!--csv psrser and data prep methods-->
<script src="assets/js/controls.js"></script>
<!--UI methods-->
<script src="assets/js/main.js"></script>
<!--main app frontend script-->
</html>