<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EventHop - Durham</title>
    
    <link rel="shortcut icon" href="public/img/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="public/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="public/img/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="public/img/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="public/img/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="public/img/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/img/favicon-16.png">
    <link rel="apple-touch-icon" href="public/img/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="public/img/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="public/img/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="public/img/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="public/img/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="public/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="public/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="public/img/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="public/img/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="public/img/favicon-144.png">
    <meta name="msapplication-config" content="public/img/browserconfig.xml">
    <!-- EventHop favicon -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- BS4 -->

    <link href="public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom fonts -->
    
    <link href="public/css/style.css" rel="stylesheet">
    <!-- Custom styles -->
</head>

<body id="page-top">
{{{body}}}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"</script>

<!-- jQuery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js">
</script>
<!--Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"></script>
<!--plotly-->
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<!--jsPDF-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Cv_7tEcDnrolF56mQG__51eGn9DIa3g&libraries=places">
</script>
<!--Google Maps-->
<script src="public/js/script.js"></script>
 <!-- Custom Scripts -->
</html>
