<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EventHop - Durham</title>
    <link rel="shortcut icon" type="image/svg" href="public/img/EH.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- BS4 -->

    <link href="public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom fontzz baybee! -->
     
    <link href="public/css/chat.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">
    <!-- Custom stylez baybee! -->
</head>

<body id="page-top">
{{{body}}}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"</script>

<!-- jQuery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js">
</script>
<!--Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"></script>
<!--plotly-->
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<!--jsPDF-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Cv_7tEcDnrolF56mQG__51eGn9DIa3g&libraries=places" async defer>
</script>
<!--Google Maps-->
<script src="public/js/chat.js"></script>
<script src="public/js/script.js"></script>
 <!-- Custom Scripts -->
</html>
